[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "svyCausalGLM"]
	path = svyCausalGLM
	url = https://github.com/cran/svyCausalGLM
